#graphSVG {
    height: 700px;
    width: 1000px;
    border: 1px solid black;
}

#axis{
    height:715px;
    width:1015px;
}

h1{
    position:relative;
    left:100px;
    word-spacing:10px;
}

.bar{
    pointer-events:all;
}
.bar:hover{
    fill:white;
}
