<!DOCTYPE: HTML>
<html>
    <head>
        <title>Duration of Daylight over a Year in New York City</title>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <link href="../static/css/home.css" rel="stylesheet">
    </head>
    <body>
        <h1>Duration of Daylight over a Year in New York City</h1>
	
        <svg id="graphSVG">
          <rect x="0" y="0" width="1000" height="700"/>
	  <svg id="axis">
	    <line x1="0" y1="700" x2="1000" y2="700" style="stroke:rgb(0,0,0);stroke-width:10"></line>
	  </svg>
        </svg>
        <script src="../static/js/home.js"></script>
    </body>
</html>
